<!DOCTYPE html ">
<html xmlns="http://www.coveychat.com">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Alpha blog</title>
	<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>
<body>
	<div id="bg">
		<div class="wrap">

			<!-- logo -->
			<h1><a href="home">Alpha Blog</a></h1>
			<!-- /logo -->

			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="Home" href="home">Home</a></li>
					<li><a href="about">About Us</a></li>
					<li><a href=#>Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->

			<!-- pitch -->
			<div id="pitch">
				<div id="slideshow">

					<!-- 1st frame -->
					<div class="active">
						<div class="overlay transparent">
							<h2>This is a About Page</h2>
							<p>Hi Mashrur,Please check my Homework assignment.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /1st frame -->


				</div>
			</div>
			<!-- /pitch -->

			<!-- main -->
			<div id="main">
				<h2 class="inner">Blog--03/05/2016</h2>
			<div id="page">

				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>5th</span><br />March</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application<a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->

				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>6th</span><br />March</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application<a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->

				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>8th</span><br />March</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application.Test Ruby on Rails web application<a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->

			</div>

			</div>
			<!-- /main -->

			<!-- side -->
			<div id="side">
				<h4>Latest News</h4>

				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>This is just for test.Please stay tuned for complete web application.Thanks!</p>
				</div>

				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>This is just for test.Please stay tuned for complete web application.Thanks!</p>
				</div>

				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>This is just for test.Please stay tuned for complete web application.Thanks!</p>
				</div>


			</div>
			<!-- /side -->
		</div>

		<!-- footer -->
     <div id="footer">
			<div id="footerbg">
				<div class="wrap">

					<!-- footer links -->
					<p id="footer_menu">
						<a href="#">Test</a>
						<a href="#">Ruby on Rail</a>
						<a href="#">Terms and Conditions</a>

						<!-- credit link -->
						<a href="http://www.coveychat.com" title="Ruby_template">Test</a>
					</p>
					<!-- /footer links -->

					<p id="copy">Alpha_Test <span>Homework_Ruby_on_Rails</span></p>

					<div class="clear"></div>
				</div>
			</div>
		<!-- /footer -->

	</div>
</body>
</html>