
			<h1><a href="#">AlphaBlog - This is a Home Page</a></h1>
                <!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="Alpha Blog" href="articles">Alpha Blog</a></li>
					<li><a href="about">About us</a></li>
					<li><a >Contact us</a></li>
				</ul>
			</div>