
$navbar-default-bg: #00994d;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}
.center {
    text-align:center;
}

body{
    background: asset_url('background') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     margin-top: 0.1%; 
}

.jumbotron{
    background-image: asset_url('pitch1');
    background-size:cover;
    height:450px;
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(100, 150, 60, 0.3);
    margin-bottom:170px;
}
.jumbotron h1{
    color: #fff;
    text-align:center;
    margin-bottom:30px;
    letter-spacing:-1px;
    font-weight:bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: green;
    margin-top: 19%; 
    margin-left: 0%;
    
}
.btn-xlarge:hover {
  background-color: green;
}
#form{
    position: relative;
    margin-bottom: 150px;
}
#show_article{
    position:relative;
    margin-bottom: 380px;
}
.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description{
    margin-top: 0;
}
.article-title{
    font-weight: bold;
    font-size: 1.1em;
}
.article-body{
    border-top: 1px solid #eaeaea ;
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer { 
	color: #999; 
	background: asset_url('footertile') repeat-x;
	font-size: .9em;
	position:relative;
    bottom:0;
    width:100%;
    height:auto;
}
#footerbg {
	padding: 35px 0 15px 0;
	background: asset_url('footer') ;
	max-width: 100%;
}
#footer p { 
	margin: 2px 10px 12px;
	padding: 6px 0;
}
#footer_menu {
	float: right;
	padding: 4px 0 0;
}
#footer a { 
	color: #999; 
	margin: 0 5px 0 0; 
	padding: 6px 10px;
	background: asset_url('dot') no-repeat left center; 
	border: 1px solid transparent;
}
#footer a:hover {
	border-color: #555;
}

#copy { 
	color: #777; font-size: 1.3em; 
}
#copy span { 
	color: #999; 
}