	<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p id="footer_menu">
					     <a><%=link_to "About", about_path %></a>
						<a href="#">Developers</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Terms and Conditions</a>
						
						<!-- credit link -->
						<a href="coveychat.com/help" title="Ruby on Rails">Help</a>
					</p>
					<!-- /footer links -->
					
					<p id="copy">&copy; 2015 Coveychat Inc.<span>All rights reserved.</span></p>
					
					<div class="clear"></div>
				</div>
			</div>
          </div>		